<div class="max-w-2xl m-auto">
  <nav class="flex-row items-center justify-between flex-wrap bg-yellow-500 px-4 py-6 w-full h-20">  
    <span class="font-semibold text-xl tracking-tight float-left">TODO</span>
    <button class="float-right inline-block text-sm px-4 py-2 leading-none rounded text-black border-black border-2 hover:border-transparent hover:text-black hover:bg-white">
      +
    </button>
  </nav>

  <div class="w-full" role="main">
    <!-- <app-todo-list></app-todo-list> -->
    <div>
    <form class="p-4">
      <input type="text" placeholder="Enter a todo here" [formControl]="newTask" class="border-2 rounded border-black w-full p-2"/>
      <br />
      <button (click)="addItem($event)" class="mt-4 float-right inline-block text-sm px-4 py-2 font-semibold leading-none border-2 rounded text-black border-black hover:border-transparent hover:text-black hover:bg-white">
        Add
      </button>
    </form>
    <div *ngFor="let todo of todos">
      <app-todo-list-item [text]="todo.text" [id]="todo.id" (deleteEvent)="deleteFromList($event)"></app-todo-list-item>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
