<div class="max-w-2xl m-auto">
  <nav class="bg-yellow-400 px-4 py-6 w-full h-20">  
    <span class="font-semibold text-xl float-left">TODO</span>
    <button (click)="toggleShowForm()" class="twc-button float-right w-20 border-black border-2">
      <span *ngIf="!showForm">+</span>
      <span *ngIf="showForm">close</span>
    </button>
  </nav>

  <app-add-item-form *ngIf="showForm" (addItemEvent)="addItemHandler($event)"></app-add-item-form>
  <app-todo-list [todos]="todos" (deleteTransmit)="deleteHandler($event)"></app-todo-list>

  <!-- not used for the time being -->
  <!-- <router-outlet></router-outlet> -->
</div>
